@npm-bbta:registry=https://bbogdigital.jfrog.io/bbogdigital/api/npm/npm-bbta/
always-auth=true
//registry.npmjs.org/:_auth=YWxvcGUyNEBiYW5jb2RlYm9nb3RhLmNvbS5jbzpBS0NwOGlocFN0UnN2Mk1YWldqV0Q1WUtFSlhVb29UbnQ3RmV4eW5zb2lQaEVmbUFCUFNOa1o0TVdpcGVXeGtURVdnMkRpTDZO
