// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// Z-index of all entire application
$z-index : 0;


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

/* Small width for btn controls Small */
$btn-min-width: 104px;

/* Small heigth for btn controls Small */
$btn-min-heigth: 40px;


/* Extra Small width for btn controls Small */
$btn-xs-min-width: 71px;

/* Extra Small heigth for btn controls Small */
$btn-xs-min-heigth: 24px;

/* BrakPoint for small devices  */
$break-small-mobile: 320px;

/* BrakPoint for table screen  */
//$break-tablet: 767px;

/* BrakPoint for table screen  new*/
$break-tablet: 600px;


/* BrakPoint for desktop screen  */
$break-desktop: 992px;

/* BrakPoint for desktop screen for web components */
$break-desktop-wc: 1023px;

/* BrakPoint for desktop full hd screen  */
$break-dektop-hd: 1200px;


/* BrakPoint for table mobile  */
$break-mobile: 576px;


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here



$robotoBold : Roboto-Bold;
$robotoItalic : Roboto-Italic;
$robotoLight : Roboto-Light;
$robotoRegular: Roboto-Regular;
$robotoMedium : Roboto-Medium;


@font-face {
  font-family: Roboto-Bold;
  src: url('../assets/fonts/roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: Roboto-Medium;
  src: url('../assets/fonts/roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: Roboto-Regular;
  src: url('../assets/fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto-Italic;
  src: url('../assets/fonts/roboto/Roboto-Italic.ttf');
}

@font-face {
  font-family: Roboto-Light;
  src: url('../assets/fonts/roboto/Roboto-Light.ttf');
}


@font-face {
  font-family: Roboto-MediumItalic;
  src: url('../assets/fonts/roboto/Roboto-MediumItalic.ttf');
}

$KiffoExtraLight: Kiffo-ExtraLight;
$KiffoLight: Kiffo-Light;
$KiffoRegular: Kiffo-Regular;
$KiffoMedium: Kiffo-Medium;
$KiffoSemiBold: Kiffo-SemiBold;
$KiffoThin: Kiffo-Thin;


@font-face {
    font-family: Kiffo-Light;
    src: url("../assets/fonts/kiffo/Kiffo-Light.otf");
    font-display: swap
}

@font-face {
    font-family: Kiffo-ExtraLight;
    src: url("../assets/fonts/kiffo/Kiffo-ExtraLight.otf");
    font-display: swap
}

@font-face {
    font-family:  Kiffo-Regular;
    src: url("../assets/fonts/kiffo/Kiffo-Regular.otf");
    font-display: swap
}

@font-face {
    font-family: Kiffo-Medium;
    src: url("../assets/fonts/kiffo/Kiffo-Medium.otf");
    font-display: swap
}

@font-face {
    font-family: Kiffo-SemiBold;
    src: url("../assets/fonts/kiffo/Kiffo-SemiBold.otf");
    font-display: swap
}

@font-face {
    font-family: Kiffo-Thin;
    src: url("../assets/fonts/kiffo/Kiffo-Thin.otf");
    font-display: swap
}
