@import "./_variables";
@import "./mixin";
.document{

  &__title {
    text-align: center;
    @include letter($robotoMedium, 24px, 36px, 0px , var(--sp-carbon-900), 0 0 32px 0);
  }

  &__body{
    text-align: justify;
    &--subtitle {
      font-weight: bold;
      margin-bottom: 32px;
      text-align: left;
    }
  }
}

.document__body ul {
  list-style: "-    ";
  padding-left: 1.2em;
  margin: 0;
}

.document__body a {
  word-break: break-all;
}

.document__body ol {
  padding-left: 1.6em;
}

.document__body ol > li::marker {
  font-weight: bold;
}

.check-buton{
  padding-top: 16px
}